body
.verticalline{
  
   border-left: 1px solid grey;
   height: 950px;
   position: absolute;
   right:90%;
   top: 0.5;
}
.horizontal{
    
    border-color:1px solid #ccc;
    top: 0;

}
.programselect .ant-select{
  width:"40px";
}
.img {
    /* border-radius: 50%; */
    cursor: pointer;
    height: "4px";
     width: "9px";
      margin-bottom: "25px";
       margin-left: "50px";
}
.tab {
    margin-left: 20px;
    background-color: #EAECEE;
   font-size: 15px;
    width:135px;
    height:25px;
   }
   .tab1 {
    margin-left: 20px;
    /* background-color: #EAECEE; */
   font-size: 15px;
    width:135px;
    margin-top: 5px;

    height:25px;
   }
   .leveltab{
    margin-top: 11px;
    margin-left: 20px;
   }
   .percenttab{
    margin-top: 11px;
   }

   .dailyactivity{
    width:100px;
    height:25px;
   }
   .dailyactivity1{
    width:150px;
    height:25px;
   }
.font{
    color: black;
    
}
.font1{
    color: grey;
    
}
.headings{
font-size: 20px;
}
.drop{
    color: var(--btn-color);
}
.logo{
    width: 120px;
    height: 31px;
 margin: 16px 28px 16px 0;
    float: left;
}
.vl{
    padding-top:25px; 
    background-color:white;
    text-align : center;
    height: 4px;
    border-left: 6px solid #2864ff;
    color:"#2864FF"
  }
  .vl1{
    height: 2000px;
    border-right: 1px solid gray;
  }
  .vl2{
     width:180;
    border-bottom: 6px solid #2864ff;
     
  }
.lock{
 width: 10px;
 height: 10px;
}
.vl3{
    margin-top: 3px;
    border-left: 8px solid gray;
    
}
.vl3green{
   margin-top: 3px;
    border-left: 8px solid green;
}
.v{
    color:red;
   font-size: 8px;
  }
  .padding{
    height: 210px;
    text-align: center;
  }
  .avatar1 {
    margin-top: 35px;
    margin-left: 70px;
  }
  .vl5 {
    border-width: 1px;
    border-color: rgb(168, 162, 162);
  }
  .verticalline {
    border-left: 1px solid rgb(168, 162, 162);
    height: 1750px;
    position: absolute;
    right: 90%;
    top: 0.4;
  }
  .programs{
    font-size: 20px;
    color: #2864FF;
    width:180;
    border-bottom: 6px solid #2864ff;
  }
  .icon1{

    color: rgb(52, 128, 34);

  }